# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Output of 'npm run build'
/dist/

# Output of 'npm run coverage'
/coverage/

# dotenv environment variables file
.env

# Editor directories and files
.idea/
.vscode/
*.sublime*
*.swp
*.swo
*.tmproj
*.esproj
*.sublime-*

# Miscellaneous local files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# npm package files
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
*.swp

# npm package development
/coverage/
/node_modules/
/npm-debug.log
/.env
/dist
/yarn-error.log
/lib-cov/
/build/contracts/
